.index_zhiding{
    padding: 10rpx 10rpx;
    display: flex;
    image{
        border-radius: 15rpx;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}


.index_swiper{
    swiper{
        width: 750rpx;
        height: 340rpx;
        padding: 10rpx 10rpx;
        image{
            width: 100%;
        }
    }
}


.index_cate{
    display: flex;
    navigator{
        padding: 10rpx 10rpx;
        flex: 1;
        text{
            justify-content: center;
            display: flex;
            color: var(--themeColor);
        }
        image{
            width: 100%;
        }
    }
}

.index_floor{

    .floor_group{
        .floor_title{
            padding: 10rpx 10rpx;
           image{
               width: 100%;
           } 
        }
        .floor_list{
            padding: 10rpx 10rpx;
            navigator{
                // 清除浮动
                overflow: hidden;
                float: left;
                width: 50%;
            /* 后五个超链接 */
            &:nth-last-child(-n+5){
                /* 原图的宽高 232 *386 */
                // 800 / 800 = 50vw / height
                // 第一张图片的高度 height: 33.33vw * 386 / 232;
                height: 450rpx ;
            }

            /* 1 2 3 4 四个超链接 */
            &:nth-child(1){
                height: 450rpx ;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4){
                border-bottom: 10rpx solid #fff;
            }
            /* 2 4 6 三个超链接 */
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6){
                border-left: 10rpx solid #fff;
            }
                image{
                    width: 100%;
                }
            }
        }
    }
}