page{
    background-color: #dedede;
}
.index_zhiding{
    padding: 10rpx 10rpx;
    display: flex;
    image{
        border-radius: 15rpx;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}


.index_swiper{
    swiper{
        width: 750rpx;
        height: 340rpx;
        padding: 10rpx 10rpx;
        image{
            width: 100%;
            border-radius: 15rpx;
        }
    }
}


.index_cate{
    display: flex;
    navigator{
        padding: 0rpx 10rpx;
        flex: 1;
        .text{
            justify-content: center;
            color: purple;
            display: flex;
            font-size: 35rpx;
            font-weight: 900;
        }
        image{
            width: 100%;
        }
    }
}

.index_floor{
    .floor_group{
        .floor_title{
            padding: 10rpx 10rpx;
           image{
            width: 100%;
            height: 240rpx;
            border-radius: 15rpx;
           } 
        }
        .floor_list{
            padding: 10rpx 10rpx;
            navigator{
                float: left;
                width: 50%;
                border-top: 5rpx solid #dedede;
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6){
                    border-left: 10rpx solid #dedede;
                }
                image{
                    width: 100%;
                    border-radius: 20rpx;
                }
            }
        }
    }
}