page{
    height: 100%;
    background-color: #dedede;
}
.cates{
    height: 100%;
            .goods_group{
                padding: 10rpx 10rpx;
                .goods_list{
                    navigator{
                        background-color: #fff;
                        float: left;
                        width: 50%;
                        // border-top: 20rpx solid #dedede;
                        border: 10rpx solid #dedede;
                        border-radius: 20rpx;
                        // &:nth-child(even){
                        //     border-left: 20rpx solid #dedede;
                        // }
                    .goods_img_wrap{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        image{
                            width: 100%;
                        } 
                    }
                    .goods_info_wrap{
                        display: flex;
                        justify-content: center;
                        .goods_name{
                            font-weight: 900;
                            font-size: 32rpx;
                            color: black;
                        }
                        .goods_price{
                            color: #eb4450;
                            font-size: 32rpx;
                            font-weight: 900;
                        }
                    }
                }
                
            }
        }
    }