page{
    height: 100%;
}
.cates{
    height: 100%;
            .goods_group{
                padding: 10rpx 10rpx;
                .goods_list{
                    navigator{
                        // 清除浮动
                        overflow: hidden;
                        float: left;
                        width: 50%;
                    .goods_img_wrap{
                        image{
                            width: 100%;
                        } 
                    }
                    .goods_info_wrap{
                        display: flex;
                        justify-content: center;
                        .goods_name{
                            
                        }
                        .goods_price{
                            color: var(--themeColor);
                            font-size: 32rpx;
                        }
                    }
                }
                
            }
        }
    }