.order_main {
  background-color: #fff;
    .order_item {
      .order_main1_row{
        padding: 15rpx;
        border-top: 2rpx solid #ccc;
        .order_time_row {
          display: flex;
          .order_time_text{
            flex: 1;
          }
          .order_time_value {
            flex: 5;
          }
        }
        .order_address_row {
          display: flex;
          .order_address_text {
            flex: 1;
          }
          .order_address_information {
            flex: 5;
          }
        }
      }
      .order_main2_row{
        display: flex;
        border-bottom: 6rpx solid #ccc;
        .order_img_wrap {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          image {
          width: 80%;
          }
        }
        .order_no_row {
          flex: 3;
          .order_on_value {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
      }
    }
  }